// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,700,900|Roboto:300,400,700&display=swap');


// Define fonts for body and headers
$body-font: "Roboto";
$headers-font: "Raleway";

h1 {
  font-family : "Raleway";
  font-size: 40px;
  font-weight: 700 !important;
  color: var(--bleu)!important;
  line-height: 1.2;
}

body {
  font-family : "Roboto";
  font-size: 1em;
  font-weight: 300;
  color: var(--gris) !important;
  line-height: 1.2;
}


// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
