<h1>Mes annonces :</h1>
<br>

<div class="cards">
  <% @bookings.each do |booking| %>
  <div class="card-category" style="background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(0,0,0,0.3)), url(https://picsum.photos/seed/picsum/200/300)">
    <p> <%= place.name %> </p><br>
    <%= place.city %> <br>
    <%= link_to '+', place %>
  <% end %>
<% end %>
  </div>
</div>

