<!DOCTYPE html>
<html>
<head>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 <link href='http://fonts.googleapis.com/css?family=Raleway, Roboto' rel='stylesheet' type='text/css'>

</head>
<body>

  <div class="topnav">
    <span>RENT4CULTURE</span>
    <a href="#home">Propriétaire</a>
    <a href="#about">Les annonces</a>
    <a href="#contact">Connexion</a>
    <div class="search-container">
      <form action="">
        <input type="text" placeholder="Rechercher par ville" name="search">
        <button type="submit"><i class="fa fa-search"></i></button>
      </form>
       <img src="avatar.png" alt="Avatar" class="avatar">
    </div>
  </div>
</body>
