#main-title {
  font-size: 24px;
  font-weight: bold;
  color: var(--bleu);
  line-height: 1.2;
}



.nav-item a {
  color: white !important;
}

.dropdown-menu-right a {
  color: var(--corail)!important;
}

.nav-item span {
  color: white !important;
}
.nav-link:hover {
  font-weight:bold;
}

.navbar {
  justify-content: space-between;
  background: #FF8273;
  font-family: Raleway;
  font-size: 20px;
  text-transform: uppercase;
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar .navbar-brand img {
  width: 40px;
}

ul li {
  text-decoration: none;
  text-align: center;
  padding: 14px 40px 14px 10px;
  text-decoration: none;
  color: white;
}

.search-container {
  float: left;
  text-align: center;
  border-radius: 30px;
}

.a:hover {
  background-color: #FF8273;
  color: white;
  font-weight: bold;
}

.a.active {
  background-color: #FF8273;
  color: white;
  font-weight: bold;
}
