.sign_container {
  display: flex;
  justify-content: center;

}

.content_container {
 border-radius: 50px;
  border-color: black;
  border-color: #FF8273;
  border-style: solid;
  padding: 45px;
  padding-block: 75px;
  padding-top: 59px;
  margin-top: 28px;
}

.log_in_link {
  color: #204282;
  font-size: 19px;
}

.alert {
  position: absolute;
  visibility: hidden;
}

.h2_sign_up {
  display: flex;
  justify-content: center;
  color: #FF8273;
  margin-top: 40px;
}

#user_password_confirmation {
 border-radius: 10px;
}
.btn  {
  width: 442px;
  border-radius: 10px !important;
  background-color: #FF8273 !important;
  border-style: none !important;
  color: white !important;
  height: 50px;
  margin-top: 23px;
  line-height: 2.5 !important;
}

.btn:hover {
    color: white!important;
    text-decoration: none;
}
