.place-container-infos{
  display: flex;
  justify-content: space-between;
}

.place-options{
  width: 40%;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);
  padding: 3%;
  margin-top: 25px;
}

.place-infos{
  width: 60%;
  padding: 3%;
}


.show-container {
  padding: 10%;
  padding-right: 10%;
}

.btn-rent {
  width: 400px;
  border-radius: 10px;
  background-color: #FF8273 !important;
  border-style: none !important;
  color: white !important;
  height: 50px;
  margin-top: 23px;
  line-height: 2.5 !important;
  text-align: center;
  padding-top: 5px;
}

.btn-rent:hover {
    color: #204282 !important;
    text-decoration: none;
}

.btnandprice{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
